.text {

  &-x-small {
    font-size: 0.75rem;
  }

  &-small {
    font-size: 0.875rem;
  }

  &-large {
    font-size: 1.125rem;
  }

  &-x-large {
    font-size: 1.25em;
  }

  &-bold {
    font-weight: 600;
  }
  &-extra-bold {
    font-weight: 700;
  }

  &-center {
    text-align: center;
  }
}
